clr==1.0.3
dill==0.3.8
imolecule==0.2.2
joblib==1.3.2
matplotlib==3.7.5
nltk==3.8.1
numpy==1.24.3
pandas==2.0.3
Pillow==10.2.0
rdkit==2023.9.5
scikit-learn==1.0.2
scipy==1.10.1
seaborn==0.13.2
selfies==2.1.1
sets==0.3.2
SmilesPE==0.0.3
spacy==3.7.4
torchtext==0.6.0
XlsxWriter==3.2.0
tensorflow==2.13.0
protobuf==4.25.3
urllib3==2.1.0
torchdata==0.4.1
thegolem==0.4.0
openpyxl==3.1.5